$main-bg: #fffae9;
$white: #ffffff;
$common-color: #3c8566;
$main-font-color: #012c1a;
$extra-font-color: #902f0d;
$swipper-font-color: #3c8566;

$first-font: "Sarabun", sans-serif;
$second-font: "Inconsolata", monospace;
